.icon-jam-icons-outline-l9 {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-base);
  align-items: center;
  justify-content: flex-start;
}
.category2,
.title {
  position: relative;
  line-height: 110%;
  display: inline-block;
  width: 348px;
}
.category2 {
  font-weight: 500;
}
.title {
  font-size: var(--heading-5-size);
}
.title-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.paragraph2 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.content {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-base) var(--padding-base);
  align-items: flex-start;
  gap: var(--gap-base);
}
.buttons-group,
.content,
.content-box {
  display: flex;
  justify-content: flex-start;
}
.buttons-group {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
  gap: var(--gap-base);
}
.content-box {
  position: relative;
  background-color: var(--neutral-colors-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 380px;
  height: 524px;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: var(--subtitle-m-size);
  color: var(--coolgray-90);
  font-family: var(--subtitle-m);
}
