.category,
.category1,
.paragraph1 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.category,
.category1 {
  line-height: 110%;
}
.category1 {
  font-size: var(--text-single-200-regular-size);
  line-height: 140%;
}
.author,
.details,
.layoutlogo-text-thumb-n {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.details {
  align-self: stretch;
}
.author,
.layoutlogo-text-thumb-n {
  gap: var(--gap-base);
}
.author {
  align-self: stretch;
  padding: var(--padding-base) 0 0;
  font-size: var(--heading-4-size);
}
.layoutlogo-text-thumb-n {
  position: relative;
  background-color: var(--neutral-colors-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 380px;
  padding: var(--padding-5xl);
  text-align: center;
  font-size: var(--text-single-200-regular-size);
  color: var(--coolgray-90);
  font-family: var(--subtitle-m);
}
