.category3,
.category4 {
  align-self: stretch;
  position: relative;
}
.category3 {
  line-height: 110%;
  font-weight: 500;
}
.category4 {
  line-height: 140%;
  color: var(--coolgray-60);
}
.details1,
.layouthorizontal-sizel {
  display: flex;
  justify-content: flex-start;
}
.details1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.layouthorizontal-sizel {
  width: 100%;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--subtitle-m-size);
  color: var(--coolgray-90);
  font-family: var(--subtitle-m);
}
