.rectangle-14-stroke1 {
  position: relative;
  width: 24px;
  height: 24px;
}
.icon-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.for-figma1,
.webbyframes1 {
  position: relative;
  line-height: 110%;
}
.for-figma1 {
  font-size: var(--body-xs-size);
  line-height: 140%;
  margin-top: -4px;
}
.text17 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.nameheader-logo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--coolgray-60);
  font-family: var(--subtitle-m);
}
