.rectangle-14-stroke {
  position: relative;
  width: 24px;
  height: 24px;
}
.icon-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.figma-black-icon {
  position: relative;
  width: 22.29px;
  height: 32px;
  display: none;
}
.for-figma,
.webbyframes {
  position: relative;
  line-height: 110%;
}
.for-figma {
  font-size: var(--body-xs-size);
  line-height: 140%;
  margin-top: -4px;
}
.text14 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.namefooter-logo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--coolgray-30);
  font-family: var(--subtitle-m);
}
