.question {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.icon-jam-icons-outline-l19 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.toggle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.answer {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.openfalse,
.text1 {
  align-items: flex-start;
}
.text1 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: 0 0 var(--padding-base);
  justify-content: flex-start;
  font-size: var(--subtitle-m-size);
}
.openfalse {
  width: 100%;
  position: relative;
  background-color: var(--neutral-colors-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  justify-content: center;
  text-align: left;
  font-size: var(--heading-5-size);
  color: var(--coolgray-90);
  font-family: var(--subtitle-m);
}
