.heading4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 66px;
  font-weight: 700;
  font-family: inherit;
}
.div22,
.frame-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
  font-size: var(--font-size-11xl);
}
.div22 {
  background-color: var(--color-darkslateblue-100);
  flex-direction: column;
  padding: var(--padding-41xl);
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--headings-h1-size);
  color: var(--color-gray-100);
  font-family: var(--text-single-200-regular);
}
