.typeblogs-layoutonly-this {
  position: relative;
  background-color: var(--neutral-colors-white);
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
