.buttons-group1,
.typecontent-center-layout2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.typecontent-center-layout2 {
  position: relative;
  background-color: var(--neutral-colors-white);
  width: 1440px;
  flex-direction: column;
  padding: var(--padding-61xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
