.icon-jam-icons-outline-l18 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  position: relative;
  line-height: 140%;
}
.withicon-sizem {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--text-single-200-regular-size);
  color: var(--coolgray-90);
  font-family: var(--subtitle-m);
}
