.heading {
  position: relative;
  line-height: 66px;
}
.div,
.index1,
.lanks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.lanks {
  align-self: stretch;
  gap: var(--gap-base);
}
.div,
.index1 {
  overflow: hidden;
}
.div {
  align-self: stretch;
  padding: var(--padding-41xl);
  gap: var(--gap-5xl);
}
.index1 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  text-align: left;
  font-size: var(--headings-h1-size);
  color: var(--color-darkslateblue-100);
  font-family: var(--body-default);
}
