/* 왼쪽 파란색 영역 */
.left-div {
  width: 30%;
  height: 90vh;
  background-color: #9FBFEF;
  float: left;
  position: relative; /* 사진과 글씨를 위치 조정하기 위해 상위 요소를 상대 위치로 설정합니다. */
}

/* 이미지 스타일 */
.image-container {
  text-align: center; /* 이미지를 가운데 정렬합니다. */
  position: absolute; /* 이미지를 상위 요소에 대한 상대 위치로 설정합니다. */
  top: 47%; /* 상위 요소 중앙 세로 정렬 */
  left: 50%; /* 상위 요소 중앙 가로 정렬 */
  transform: translate(-50%, -50%); /* 이미지를 중앙으로 이동합니다. */
}

/* 글씨 스타일 */
.text {
  /*text-align: center; !* 텍스트를 가운데 정렬합니다. *!*/
  /*position: absolute; !* 텍스트를 상위 요소에 대한 상대 위치로 설정합니다. *!*/
  /*bottom: 150px; !* 하단 여백 조절 *!*/
  color: white;
  font-weight: bold;
  left: 0;
  right: 0;
  line-height: 30px;
  text-align: left;
  color: #18345e;
}

.text1 {
  /*text-align: center; !* 텍스트를 가운데 정렬합니다. *!*/
  /*position: absolute; !* 텍스트를 상위 요소에 대한 상대 위치로 설정합니다. *!*/
  /*bottom: 150px; !* 하단 여백 조절 *!*/
  color: white;
  font-weight: bold;
  left: 0;
  right: 0;
  line-height: 30px;
  text-align: left;
  color: #F4F2F2;
}

.user {
  /*text-align: center; !* 텍스트를 가운데 정렬합니다. *!*/
  /*position: absolute; !* 텍스트를 상위 요소에 대한 상대 위치로 설정합니다. *!*/
  /*bottom: 150px; !* 하단 여백 조절 *!*/
  color: white;
  font-weight: bold;
  left: 0;
  right: 0;
  line-height: 35px;
font-size: 22px;
  color: #18345e;
  font-weight: 50px;
}
.profile{
  align-items: center;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
}



.right-div {
  height: 90vh;
  background-color: transparent;
  float: left;
  position: relative;
  display: flex;
  flex-direction: column; /* 내부 요소를 세로로 정렬하기 위해 컬럼 방향으로 설정합니다. */
  align-items: center;
  justify-content: center;
}

.right-div p {
  margin-bottom: 5px;
  font-size: 15px;
}

input {
  border-radius: 5px;
  border: none;
  background: #F4F2F2;
  width: 250px;
  height: 30px;
}


/*네비*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* 상단 네비바 스타일 */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  width: 40px; /* 로고 이미지 크기 조절 */
  height: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}
.box1{
  width: 500px;
  height: 50px;
  background-color: #9FBFEF;
  margin-bottom: 5%;
  margin-left: 35%;
  border-radius: 10px;
}
.box2{
  width: 500px;
  height: 50px;
  background-color: #9FBFEF;
  margin-bottom: 5%;
  margin-left: 35%;
  border-radius: 10px;
}
.box3{
  width: 500px;
  height: 50px;
  background-color: #9FBFEF;
  margin-bottom: 5%;
  margin-left: 35%;
  border-radius: 10px;
}.box4{
   width: 500px;
   height: 50px;
   background-color: #9FBFEF;
   margin-bottom: 5%;
  margin-left: 35%;
   border-radius: 10px;
 }
.span{
  margin-top: 10px;
  font-size: 18px;
}

.steam {
  width: 35px;
  height: 35px;

  padding-left: 3px;
  padding-right: 3px;
}

.box1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #F4F2F2;
}
.box2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #F4F2F2;
}
.box3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #F4F2F2;
}
.box4 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #F4F2F2;
}

.connect{

  margin-left: auto;
  margin-right: 10px;
  color: #18345e;
  background-color: #9FBFEF;
  border: none;
  border-radius: 3px;
  font-weight: bold;


}

.connect1{
  margin-left: auto;
  margin-right: 10px;
  color: #18345e;
  font-weight: bold;
  border: none;

}